<footer class="border-top text-muted bg-light">
    <div class="text-center container">
      <br>
      E-mail:
      <a href="mailto:email@dominio.com" class="text-decoration-none text-dark">
        inovailab@gmail.com
      </a>
      <br>
        Av. Passeio dos Girassóis, 1158 - Lagoa Nova, Natal - RN, 59077-080
      <br>      
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://labs.imd.ufrn.br/labs/nPITI/laboratorios/LAM_II;jsessionid=D18B849C60F1DFD0884E926341332511.xangai_jvm1">InovAI.com</a>
    </div>
</footer>