<nav class="navbar navbar-expand-lg bg-dark border-bottom shadow-sm mb-2">

    <div class="container">
        
        <a class="navbar-brand text-light" href="/views/indeex.ejs">
            <b>Tactile Experiment</b>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item me-3">
                    <button class="btn btn-outline-light" id="aboutWebPage">About</button>
                </li>
            </ul>
            <div class="align-self-end">
                <ul class="navbar-nav text-primary">
                    <form class="d-flex" role="search">
                        <input
                            class="form-control me-3"
                            type="search"
                            placeholder="Type here"
                            aria-label="Pesquisar"
                        >
                        <button class="btn btn-light me-3" type="submit">Search</button>
                    </form>
                    <li class="nav-item me-3">
                        <button class="btn btn-outline-light" id="registryButton">Registry</button>
                    </li>
                    <li class="nav-item me-3">
                        <button class="btn btn-outline-light" id="loginButton">Log in</button>
                    </li>
                    <li class="nav-item">
                        <form class="logout-form" action="/confirmed_logout" method="post">
                            <input type="hidden" name="logout" value="Visitor">
                            <button class="btn btn-outline-light" type="submit" name="btn_logout">Log out</button>
                        </form>
                    </li>
                    <li class="nav-item ms-5">
                        <h1 class="nav-link text-light">Hello, <%= homePageUsername %>!</h1>
                    </li>
                </ul>
            </div>
        </div>


    </div>

</nav>
